name: "Build"
on:
  push:
    branches:
      - '*'
    paths:
      - '*.sh'
      - '.github/workflows/build.yml'
      - '*.txt'
      - 'conf/*'
      - 'hooks/*'
  pull_request:
    branches:
      - '*'
    paths:
      - '*.sh'
      - '.github/workflows/build.yml'
      - '*.txt'
      - 'conf/*'
      - 'hooks/*'
  workflow_dispatch:

  release:
    types: [ created ]


concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["7.7", "7.7-aarch64", "7.7-riscv64", "7.8", "7.8-aarch64", "7.8-riscv64"]
    runs-on: ubuntu-24.04
    env:
      SEC_VBOX : ${{ vars.SEC_VBOX }}
    steps:
#    - name: Free Disk Space (Ubuntu)
#      uses: jlumbroso/free-disk-space@main
#      with:
#        # this might remove tools that are actually needed,
#        # if set to "true" but frees about 6 GB
#        tool-cache: false
    - uses: actions/checkout@v4
    - name: Creating Web console
      uses: vmactions/cf-tunnel@v0
      id: tunnel
      with:
        protocol: http
        port: 8000
    - run: |
        bash build.sh conf/openbsd-${{ matrix.os }}.conf
    - name: Upload Release Asset
      if: "contains(github.ref, 'refs/tags/')"
      id: upload-release-asset
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: |
          openbsd-${{ matrix.os }}.qcow2.zst*
          openbsd-${{ matrix.os }}-id_rsa.pub
          openbsd-${{ matrix.os }}-host.id_rsa
          openbsd-${{ matrix.os }}.xml


